main {
  min-height: 80vh;
  position: relative;
  margin-bottom: -20vh;
}

.push {
  height: 20vh;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px 0 60px 0;
  color: #999;
}

.footer-content-item-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  border-right: 1px solid #999;
  padding: 20px;
}

.footer-content-item-left > ul {
  list-style-type: none;
}

.footer-content-item-left > ul > p {
  font-weight: bold;
}

.footer-content-item-left > ul > li {
  margin: 5px 0 5px 0;
}

.footer-content-item-left > ul > li > a {
  text-decoration: none;
  color: #999;
  transition: all 0.5s ease;
}

.footer-content-item-left > ul > li > a:hover {
  transition: all 0.5s ease;
  text-decoration: underline;
}

.footer-content-item-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 16%;
}

.footer-content-item-social > a {
  text-decoration: none;
  font-size: 27px;
  color: #999;
}

.footer-content-item-right {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  text-align: justify;
  padding: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright > p {
  color: #686868;
  text-align: justify;
}
